<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NidUrlScheme</key>
	<string>$(NidUrlScheme)</string>
	<key>NATIVE_APP_KEY</key>
	<string>$(NATIVE_APP_KEY)</string>
	<key>BASE_API_URL</key>
	<string>$(BASE_API_URL)</string>
	<key>NidAppName</key>
	<string>$(NidAppName)</string>
	<key>NidClientID</key>
	<string>$(NidClientID)</string>
	<key>NidClientSecret</key>
	<string>$(NidClientSecret)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(NATIVE_APP_KEY)</string>
			</array>
			<key>CFBundleURLName</key>
			<string>kakao</string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>naver</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(NidUrlScheme)</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaolink</string>
		<string>kakaokompassauth</string>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
